In [1]:
import numpy as np
import pandas as pd

C:\Users\Andrei\AppData\Local\Temp\ipykernel_7736\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_movies = "data/movies.csv"

In [3]:
movies_ = pd.read_csv(df_movies)

In [4]:
movies_.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
movies_.shape

(9742, 3)

In [6]:
movies_.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [7]:
df_ratings = "data/ratings.csv"

In [8]:
ratings_ = pd.read_csv(df_ratings)

In [9]:
ratings_.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
ratings_.shape

(100836, 4)

In [12]:
ratings_['userId'].value_counts()

userId
414    2698
599    2478
474    2108
448    1864
274    1346
       ...
442      20
569      20
320      20
576      20
53       20
Name: count, Length: 610, dtype: int64

In [13]:
ratings_['userId'].unique().shape

(610,)

In [14]:
x = ratings_['userId'].value_counts() > 200

In [15]:
x

userId
414     True
599     True
474     True
448     True
274     True
       ...
442    False
569    False
320    False
576    False
53     False
Name: count, Length: 610, dtype: bool

In [16]:
x[x].shape

(133,)

In [17]:
y = x[x].index

In [18]:
y

Index([414, 599, 474, 448, 274, 610,  68, 380, 606, 288,
       ...
       119, 563, 263,  73, 586, 220, 246, 234, 452, 385],
      dtype='int64', name='userId', length=133)

In [19]:
ratings = ratings_[ratings_['userId'].isin(y)]

In [20]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [21]:
ratings.shape

(68284, 4)

In [23]:
rating_movies = ratings.merge(movies_, on="movieId")

In [24]:
rating_movies.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [25]:
rating_movies.shape

(68284, 6)

In [27]:
num_rating = rating_movies.groupby('title')['rating'].count().reset_index()

In [28]:
num_rating.head()

                                     title  rating
0                               '71 (2014)       1
1  'Hellboy': The Seeds of Creation (2004)       1
2                   'Round Midnight (1986)       1
3          'Tis the Season for Love (2015)       1
4                       'burbs, The (1989)      12

In [29]:
num_rating.rename(columns={'rating': 'num_of_rating'}, inplace=True)

In [30]:
num_rating.head()

                                     title  num_of_rating
0                               '71 (2014)              1
1  'Hellboy': The Seeds of Creation (2004)              1
2                   'Round Midnight (1986)              1
3          'Tis the Season for Love (2015)              1
4                       'burbs, The (1989)             12

In [31]:
final_rating = rating_movies.merge(num_rating, on='title')

In [32]:
final_rating.head(2)

,userId,movieId,rating,timestamp,title,genres,num_of_rating
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,92
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,25

In [33]:
final_rating.shape

(68284, 7)

In [35]:
final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [36]:
final_rating.head()

,userId,movieId,rating,timestamp,title,genres,num_of_rating
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,92
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,51
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,87
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,85
7,1,110,4.0,964982176,Braveheart (1995),Action|Drama|War,79

In [37]:
final_rating.sample(6)

,userId,movieId,rating,timestamp,title,genres,num_of_rating
35573,365,59315,3.5,1488333564,Iron Man (2008),Action|Adventure|Sci-Fi,52
3273,41,2329,4.0,1458933698,American History X (1998),Crime|Drama,63
5585,62,51662,4.5,1521489885,300 (2007),Action|Fantasy|War|IMAX,54
56654,561,1580,3.0,1491091035,Men in Black (a.k.a. MIB) (1997),Action|Comedy|Sci-Fi,96
59618,594,1220,4.0,1108798899,"Blues Brothers, The (1980)",Action|Comedy|Musical,58
28805,298,3578,3.5,1447598079,Gladiator (2000),Action|Adventure|Drama,89

In [38]:
final_rating.shape

(13839, 7)

In [39]:
final_rating.drop_duplicates(['userId', 'title'], inplace=True)

In [40]:
final_rating.shape

(13839, 7)

In [41]:
movies_pivot = final_rating.pivot_table(columns='userId', index='title', values='rating')

In [42]:
movies_pivot

userId,1,4,6,18,19,20,21,28,41,42,...,594,596,597,599,600,603,605,606,608,610
title,,,,,,,,,,,,,,,,,,,,,
2001: A Space Odyssey (1968),NaN,NaN,NaN,4.0,3.0,NaN,NaN,3.0,2.0,5.0,...,NaN,4.0,NaN,5.0,4.0,5.0,NaN,5.0,3.0,4.5
300 (2007),NaN,NaN,NaN,3.5,NaN,NaN,3.5,4.5,2.0,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,5.0,4.0
Ace Ventura: Pet Detective (1994),NaN,NaN,3.0,2.5,2.0,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,2.5,3.0,NaN,NaN,NaN,3.5,3.0
Airplane! (1980),NaN,5.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,5.0,...,NaN,3.5,5.0,3.5,3.5,NaN,5.0,NaN,NaN,3.5
Aladdin (1992),NaN,4.0,5.0,3.5,3.0,5.0,4.0,NaN,NaN,NaN,...,4.5,NaN,4.0,3.0,3.5,NaN,3.5,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Who Framed Roger Rabbit? (1988),5.0,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,4.0,...,NaN,NaN,5.0,3.5,3.0,3.0,NaN,3.0,3.0,NaN
Willy Wonka & the Chocolate Factory (1971),5.0,4.0,3.0,NaN,4.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,3.0,5.0,3.0,4.0,NaN,3.5,NaN
"Wizard of Oz, The (1939)",5.0,5.0,NaN,4.0,NaN,5.0,NaN,NaN,NaN,NaN,...,4.0,4.0,4.0,3.0,3.0,5.0,2.0,NaN,2.5,3.5
X-Men (2000),5.0,NaN,NaN,4.0,4.0,3.5,3.5,3.5,NaN,2.0,...,4.5,4.0,NaN,3.5,3.0,NaN,NaN,NaN,4.0,3.5
X2: X-Men United (2003),NaN,NaN,NaN,4.0,NaN,4.0,NaN,2.5,NaN,NaN,...,4.5,4.0,NaN,3.0,NaN,NaN,NaN,NaN,4.0,4.0

In [43]:
movies_pivot.shape

(205, 133)

In [44]:
movies_pivot = movies_pivot.fillna(0)

In [45]:
movies_pivot

userId,1,4,6,18,19,20,21,28,41,42,...,594,596,597,599,600,603,605,606,608,610
title,,,,,,,,,,,,,,,,,,,,,
2001: A Space Odyssey (1968),0.0,0.0,0.0,4.0,3.0,0.0,0.0,3.0,2.0,5.0,...,0.0,4.0,0.0,5.0,4.0,5.0,0.0,5.0,3.0,4.5
300 (2007),0.0,0.0,0.0,3.5,0.0,0.0,3.5,4.5,2.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,5.0,4.0
Ace Ventura: Pet Detective (1994),0.0,0.0,3.0,2.5,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,2.5,3.0,0.0,0.0,0.0,3.5,3.0
Airplane! (1980),0.0,5.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.0,...,0.0,3.5,5.0,3.5,3.5,0.0,5.0,0.0,0.0,3.5
Aladdin (1992),0.0,4.0,5.0,3.5,3.0,5.0,4.0,0.0,0.0,0.0,...,4.5,0.0,4.0,3.0,3.5,0.0,3.5,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Who Framed Roger Rabbit? (1988),5.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,4.0,...,0.0,0.0,5.0,3.5,3.0,3.0,0.0,3.0,3.0,0.0
Willy Wonka & the Chocolate Factory (1971),5.0,4.0,3.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,3.0,5.0,3.0,4.0,0.0,3.5,0.0
"Wizard of Oz, The (1939)",5.0,5.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,3.0,3.0,5.0,2.0,0.0,2.5,3.5
X-Men (2000),5.0,0.0,0.0,4.0,4.0,3.5,3.5,3.5,0.0,2.0,...,4.5,4.0,0.0,3.5,3.0,0.0,0.0,0.0,4.0,3.5
X2: X-Men United (2003),0.0,0.0,0.0,4.0,0.0,4.0,0.0,2.5,0.0,0.0,...,4.5,4.0,0.0,3.0,0.0,0.0,0.0,0.0,4.0,4.0

In [50]:
from scipy.sparse import csr_matrix

In [51]:
movies_sparse = csr_matrix(movies_pivot)

In [53]:
movies_sparse

<205x133 sparse matrix of type '<class 'numpy.float64'>'
	with 13839 stored elements in Compressed Sparse Row format>

In [54]:
from sklearn.neighbors import NearestNeighbors
# Creamos una instancia del modelo Nearest Neighbors
model = NearestNeighbors(algorithm='brute')

In [55]:
model.fit(movies_sparse)

NearestNeighbors(algorithm='brute')

In [56]:
distance, suggestion = model.kneighbors(movies_pivot.iloc[28,:].values.reshape(1,-1), n_neighbors=6)

In [57]:
distance

array([[ 0.        , 19.68501969, 20.79062289, 23.29699551, 23.72235233,
        23.85372088]])

In [58]:
suggestion

array([[ 28, 110,   4, 132, 103, 111]], dtype=int64)

In [59]:
for i in range(len(suggestion)):
    print(movies_pivot.index[suggestion[i]])

Index(['Beauty and the Beast (1991)', 'Lion King, The (1994)',
       'Aladdin (1992)', 'Mrs. Doubtfire (1993)', 'Jumanji (1995)',
       'Little Mermaid, The (1989)'],
      dtype='object', name='title')

In [61]:
movies_pivot.index[28]

'Beauty and the Beast (1991)'

In [62]:
movies_name = movies_pivot.index

In [64]:
import pickle
pickle.dump(model, open('data_trained/model.pkl', 'wb'))
pickle.dump(movies_name, open('data_trained/movies_name.pkl', 'wb'))
pickle.dump(final_rating, open('data_trained/final_rating.pkl', 'wb'))
pickle.dump(movies_pivot, open('data_trained/movies_pivot.pkl', 'wb'))

In [70]:
def recommend_movie(movie_name, movies_pivot, model):
    movie_id = np.where(movies_pivot.index == movie_name)[0][0]
    distance, suggestion = model.kneighbors(movies_pivot.iloc[movie_id, :].values.reshape(1, -1), n_neighbors=6)
    for distance_in_suggestion in range(len(suggestion)):
        movie = movies_pivot.index[suggestion[distance_in_suggestion]]
        for name in movie:
            print(name)

In [71]:
movie_name = "Jumanji (1995)"
recommend_movie(movie_name, movies_pivot, model)

Jumanji (1995)
Home Alone (1990)
Bruce Almighty (2003)
Mummy, The (1999)
Mrs. Doubtfire (1993)
Lost World: Jurassic Park, The (1997)